.hero-img{
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('https://cdn.pixabay.com/photo/2018/02/27/10/49/training-3185170_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}